body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    
}

header {
        padding: 20px;
        text-align: center;
        background-image: url(img/logo-slm-vermelho.jpg);
        background-color: #ed1c24;
        background-repeat: no-repeat;
        background-size: contain;
        height: 150px;
        
      }

      
header h1 {
    font-family: 'MinhaFonteBiblica', 'Times New Roman', serif; /* Use a fonte incorporada */
    font-size: 70px;
    margin: 0;
    text-shadow: 0.1em 0.1em 0.2em black
    
}

h1 {
    margin: 0;
}


.navbar {
  background-color: #5d5959;
  color: #fef4f4;
  
    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: white;
    color: #fff;
    text-align: center;
    padding: 50px;
    
}




